<!-- <div>
  <app-dropdown [label]="'please choose major'" [items]="items" (itemChange)="onItemChange($event,'sel1')"></app-dropdown>
</div>
<div *ngIf="selectedItem">
  Your Selection is {{selectedItem.name}}
</div>
<div>

</div>
<div>
  <app-dropdown [label]="'please choose sector'" [items]="items2" (itemChange)="onItemChange($event,'sel2')"></app-dropdown>
</div> -->

  <div class="wrapper">
    
    <!-- Navbar -->
      <app-header></app-header>
    <!-- /.navbar -->
        <app-sidebar></app-sidebar>
    <!-- Main Sidebar Container -->

  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->
      <app-footer></app-footer>
    <!-- /.control-sidebar -->

  </div>
